@import '../../../../themes/contrib/bootbase/bootstrap4/scss/functions',
        '../../../../themes/contrib/bootbase/bootstrap4/scss/variables',
        '../../../../themes/contrib/bootbase/bootstrap4/scss/mixins',
        '../../../../themes/adaptive/scss/mixins/breakpoints',
        '../../../../themes/adaptive/scss/colors';

$duration: 0.4s;

.synsearch {
  &-form {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
    .form-item {
      flex-grow: 1;
      margin: 0 30px 0 0;
    }
    .btn {
      min-width: unset;
      min-height: unset;
      max-width: 190px;
      max-height: 40px;
      padding: 12px 65px;
    }
    @include m-down(767) {
      margin: 0 0 15px;
      .form-item {
        margin: 0 15px 0 0;
      }
      .btn {
        padding: 17px 25px;
        max-width: 100px;
        max-height: 51px;
      }
    }
  }
}
