.synsearch-form {
  display: flex;
  align-items: center;
  margin: 0 0 30px; }
  .synsearch-form .form-item {
    flex-grow: 1;
    margin: 0 30px 0 0; }
  .synsearch-form .btn {
    min-width: unset;
    min-height: unset;
    max-width: 190px;
    max-height: 40px;
    padding: 12px 65px; }
  @media (max-width: 767px) {
    .synsearch-form {
      margin: 0 0 15px; }
      .synsearch-form .form-item {
        margin: 0 15px 0 0; }
      .synsearch-form .btn {
        padding: 17px 25px;
        max-width: 100px;
        max-height: 51px; } }
