{{ attach_library('catalog/catalog') }}
{{ attach_library('synsearch/page') }}

<div class="drupal-app">

<synsearch :data="{{ data|json_encode }}" inline-template v-cloak>
  <div class="synsearch">
    {{ data.form }}
    <div class="catalog" v-if="items.length">
      <div class="catalog-row">
          <div class="catalog-col" v-for="item in items" v-html="item.html"></div>
      </div>
      <button class="btn" v-if="watched < total" @click="loadMore">
        загрузить еще
      </button>
    </div>
    <div v-else-if="!data.title" class="synsearch-message messages messages--error">
      Введите запрос
    </div>
    <div v-show="noResult" style="display: none;" class="synsearch-message messages messages--error">
      {{ 'No results were found for your request.'|t }}
    </div>
  </div>
</synsearch>
</div>
